{% extends "base.html.jinja2" %}
{% block heading %}
    <h1 class="display-5">MOS Experiment</h1>
    <hr class="my-4">
    <p>
        본 실험에 참여해 주셔서 감사합니다. <br> 각 문항에서 하나의 오디오 샘플을 들은 후, 오디오의 품질을 평가해주세요.
    </p>
    <p>
        평가 기준 (1~5점):
    <ul>
        <li><b>1 (Bad)</b></li>
        <li><b>2 (Poor)</b></li>
        <li><b>3 (Fair)</b></li>
        <li><b>4 (Good)</b></li>
        <li><b>5 (Excellent)</b></li>
    </ul>
    </p>

{% endblock %}
{% block form_questions %}
    {% for question in questions %}
        <div class="question" data-question-id="{{ question.id }}">
            <div class="card-header">{{ question.title }}</div>
            <div class="card-body">
                <p>
                    <audio controls src="{{ question.audio_path }}">
                        Your browser does not support the audio element.
                    </audio>
                </p>
                {% if question.transcription %}
                <div class="transcription">
                    <strong>Transcription:</strong> {{ question.transcription }}
                </div>
                {% endif %}
                <div class="radio-wrapper">
                    <div class="radio-label-left">Bad</div>
                    <div class="radio-horizontal">
                        <div class="radio-option">
                            <input type="radio" name="{{ question.name }}" id="{{ question.name }}_1" value="1" required>
                            <label for="{{ question.name }}_1">1 (Bad)</label>
                            <div class="radio-number">1</div>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="{{ question.name }}" id="{{ question.name }}_2" value="2" required>
                            <label for="{{ question.name }}_2">2 (Poor)</label>
                            <div class="radio-number">2</div>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="{{ question.name }}" id="{{ question.name }}_3" value="3" required>
                            <label for="{{ question.name }}_3">3 (Fair)</label>
                            <div class="radio-number">3</div>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="{{ question.name }}" id="{{ question.name }}_4" value="4" required>
                            <label for="{{ question.name }}_4">4 (Good)</label>
                            <div class="radio-number">4</div>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="{{ question.name }}" id="{{ question.name }}_5" value="5" required>
                            <label for="{{ question.name }}_5">5 (Excellent)</label>
                            <div class="radio-number">5</div>
                        </div>
                    </div>
                    <div class="radio-label-right">Excellent</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
